.about {
    padding: 2rem;
    background: #1e1e1e;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2rem;
    color: #ffffff;
  }
  
  .about p {
    font-size: 1rem;
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
  }